PORT=3000
JWT_SECRET=super_secret_jwt_key_notes_api_change_in_production
JWT_EXPIRES_IN=7d
MONGODB_URI=mongodb+srv://priyankjadav8_db_user:<priyank08>@cluster0.fpvpnf4.mongodb.net/?appName=Cluster0
NODE_ENV=development
